# AWS Provider
aws_profile            = "<AWS main profile name>"
aws_region             = "<Region>"
aws_role_arn           = "<Role for terraform>"
# Rancher
rancher_password       = "<password to set for rancher>"
