# AWS Provider
aws_profile            = "oss"
aws_region             = "ap-southeast-2"
aws_role_arn           = "arn:aws:iam::085032814280:role/OSS_Terraform_no_MFA"
# Rancher
rancher_password = "password to set for rancher"
