! {{ ansible_managed }}

global_defs {
   notification_email {
     root@lb.test.oss.co.nz
   }
!   notification_email_from root@lb.test.oss.co.nz
!   smtp_server 127.0.0.1
!   smtp_connect_timeout 30
   router_id {{ keepalived_router_id }}
}

vrrp_script chk_lb {
{% if lb_to_use == 'haproxy' %}
   script "/sbin/pidof haproxy"  # verify the pid existance
{% elif lb_to_use == 'nginx' %}
   script "/sbin/pidof nginx"    # verify the pid existance
{% endif %}
   interval 2                    # check every 2 seconds
   weight 2                      # add 2 points of prio if OK
}

vrrp_instance VI_1 {
   interface {{ keepalived_bind_interface }}                # interface to monitor
   state MASTER
   virtual_router_id {{ keepalived_virtual_router_id }}          # Assign one ID for this route
   priority {{ keepalived_priority }}                  # 101 on master, 100 on backup
   virtual_ipaddress {
       {{ keepalived_vip }} dev {{ keepalived_bind_interface }} # the virtual IP
   }
   track_script {
       chk_lb
   }
}
