vsphere_server         = "<vsphere server>"
vsphere_dcname         = "<DC name>"
vsphere_cluster_name   = "<Cluster name>"
vsphere_datastore      = "<Datastore>"
vsphere_netname        = "<Network>"
vsphere_tmplname       = "centos7"
vsphere_folder         = "<Folder>"
vsphere_storage_policy = "<Storage Policy>"

# SSH Key path
ssh_key_path           = "~/.ssh/rancher-id_rsa"

# SSH config path
ssh_config_path        ="~/.ssh/config"

lb_rancher_floating_ip = "<Keepalived IP for rancher>"
lb_api_floating_ip     = "<Keepalived IP for API>"

# AWS Provider
aws_profile            = "<AWS main profile name>"
aws_sub_profile        = "<AWS sub profile name>
aws_region             = "<Region>"
aws_role_arn           = "<Role for terraform>"
aws_s3_bucket          = "<Bucket for state>"
aws_s3_bucket_key      = "<Bucket key for state>"
aws_dynamodb_table     = "<Dynamo DB table for state>"

vm_username            = "centos"
email_address          = "<ACME registration email address>"

# VM Specs Config
lb_vm_spec = {
  num_cpus = 1
  memory   = 2048 # Mb
  disk     = 50 # Gb
}

node_vm_spec = {
  num_cpus = 2
  memory   = 8192 # Mb
  disk     = 50 # Gb
}

# VM Network Config
domain         = "<Domain name>"
ipv4_gateway   = "<Gateway IP>"
dns_servers    = ["<DNS IP>", "<DNS IP>"]
time_zone      = "<Timezone>"

vms_ips = {
  lbr0          = "<IP Address>",
  lbr1          = "<IP Address>",
  lba0          = "<IP Address>",
  lba1          = "<IP Address>",
  node0        = "<IP Address>",
  node1        = "<IP Address>",
  node2        = "<IP Address>",
  ipv4_netmask = 24,
}

# Ansible
# ansible_vault_password = "set here rather than user default"
